#box{
    background-color: rgb(141, 225, 240);
    height: 300px;
    width: 700px;
    visibility: hidden;
}
body{
    background-color: rgb(155, 140, 197);
}
.clicks{
    background-color: bisque;
    text-decoration-color: black;
    box-shadow: 2ch;
    border-radius: 10px;
    padding: 7px;
}

#box.show{
    visibility: visible;
}

.Close_Popup{
    margin-top: 50%;
    margin-left: 97%;
}
